@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  display: flex;
  justify-content: center;

  &__cart {
    display: flex;
    justify-content: end;

    @media (max-width: 610px) {
      justify-content: center;
      max-width: auto;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
      width: 42px;
      height: 42px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
